html {
	background-color: #990000;
	margin: 2.5px;
	margin-right: 400px;
	margin-left: 400px;
}

.resource {
	background-color: #990000;
	margin: 2.5px;
	/*margin-right: 500px;
	margin-left: 500px;*/
	max-width: 100%;
	text-align: center;
}

body{
	font-family: georgia;
	font-size: 11pt;
	line-height: 1.8em;
	color: #2d2d2d;
	display: inline-block;
	background-color: white;
	border-radius: 10px;
}


.container {
	padding-top: 6px;
	padding-right: 85px;
	padding-left: 85px;
	padding-bottom: 10px;
}

.title {
  font-family: "Lato", sans-serif;
  color: #006a52;
  text-align: center;
  font-size: 2em;
  font-weight: lighter;
  letter-spacing: 2px;
  text-transform: uppercase;
}

img {
		max-width: 100%;
    display: none;
}

a {
    color: #006a52;
    text-decoration: none;
}

p {
	display: block;
}

.link-out {
    font-family: sans-serif;
    font-size: .75em;
    letter-spacing: .15em;
    text-transform: uppercase;
}

.copyright {
		font-family: sans-serif;
    font-size: .5em;
    letter-spacing: .15em;
    text-transform: uppercase;
    text-align: center;
		margin: 0px;
}

.profilePic {
	max-width: 60%;
	margin: 0 auto;
	b
}

.sub_title {
	font-family: "Lato", sans-serif;
	color: #990000;
	font-size: 1.2em;
	font-weight: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 3px;
	text-align: left;
}

ul {
	margin-top: 0px;
	text-align: left;
}

@media only screen and (max-width: 1000px) {

	html {
		background-color: #990000;
		margin: 10px;
	}

	.container {
		padding-top: 6px;
		padding-right: 20px;
		padding-left: 20px;
	}
}
